:root {
	--primary: white;
	--border-radius: 0.3rem;
	--cardcolor: navy;
	--lightblue: #c4dbf6;
	--gray: #8590aa;
	--grain: #d7cec7;
	--redwine: #76323f;
	--tan: #c09f80;
	--slate: #565656;
	--gold: #c8b682;
	--warm: #f1edea;
	--darkgray: #6c757d;
	--headerText: #5b5d5f;
	--textColor: #36454f; /* #c4d0cc; #36454F.;*/
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--primary);
	margin: 0;
	padding: 0;
	font-family: "IBM Plex Sans", sans-serif;
	color: var(--dark);
	line-height: 1.5;
	font-size: 16px;
	height: 100%;
	/* font-family: "Roboto Slab", serif; */
	background-color: var(--warm);
}

.headerCls,
.headerCls ul {
	background-color: transparent;
	color: var(--warm); /* #5b5d5f;*/ /* var(--darkgray)*/
	font-family: "Source Sans Pro", sans-serif;
	font-size: 2rem;
	height: 7rem;
}

.headerCls .top-bar-right ul li a {
	font-weight: bold;
	font-size: 1rem;
	color: var(--warm);
}
.headerCls {
	background: url("../images/img5.jpeg");
	background-position: right;
	background-size: cover;
}

.left-top-section,
.left-top-section .callout,
#container-accordion {
	background-color: #eaeef1;
	border: 5px solid var(--gold);
	color: var(--textColor);
}

.left-top-section .callout {
	border: none;
}

.event-details-header,
.event-list-header {
	background-color: var(--redwine);
	color: beige;
	text-align: center;
	border-bottom: 5px solid var(--gold);
}

.learn-more-button,
.view-history-button {
	/* background: rgb(118, 50, 63);
	background: linear-gradient(
		180deg,
		rgba(118, 50, 63, 1) 0%,
		rgba(135, 65, 79, 1) 55%,
		rgba(154, 108, 117, 1) 100%
	);
	color: var(--gold);
	font-family: "IBM Plex Sans", sans-serif;
	border: 1px solid var(--gold); */
}

.rounded-button,
.view-history-button {
	padding: 10px 0px; /*
	 background-color: var(--gray); */
	border-radius: var(--border-radius);
	margin: 5px auto;
	background: rgb(118, 50, 63);
	background: linear-gradient(
		180deg,
		rgba(118, 50, 63, 1) 0%,
		rgba(135, 65, 79, 1) 55%,
		rgba(154, 108, 117, 1) 100%
	);
	color: var(--gold);
	font-family: "IBM Plex Sans", sans-serif;
	border: 1px solid var(--gold);
}
.view-history-button {
	border-left: none;
	border-radius: 0;
	margin: 0 0;
}

.view-history-header h5 {
	color: var(--redwine);
	font-size: 90%;
	font-weight: 700;
	padding-left: 4px;
}
.rounded-button:hover,
.view-history-button:hover {
	background-color: var(--redwine);
	color: var(--gold);
}

#intro {
	padding-bottom: 0;
	margin-bottom: 0;
	font-weight: 800;
	font-size: 1.8rem;
}

#description {
	font-size: 1.5rem;
	font-weight: 500;
	margin-top: 0px;
	padding-top: 0px;
}
#select-date {
	border: 1px solid var(--gold);
}

#bookmarks li {
	border-radius: var(--border-radius);
	background-color: var(--gray);
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	color: beige;
	padding: 10px;
	list-style-type: none;
}

#bookmarks li a {
	color: beige;
	font-size: 90%;
}

.view-history-button {
	padding: 10px;
}

#date-select {
	padding: 3px 10px;
	margin-left: 50px;
}
.footer-menu {
	background-color: var(--redwine);
	margin-top: 10rem;
	margin-bottom: 0;
}

.footer-menu li a,
.footer-menu li span {
	color: white;
	font-weight: bold;
}

.thumbnail1 {
	width: 5rem;
	height: 5rem;
	border: 2px solid var(--gold);
}
/* .main-content {
	background-image: url("../images/img2.jpeg");
	background-position: center;
	background-size: cover;
	position: relative;
	height: 100%;
}

.main-content :before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(240, 236, 236, 0.062);
} */
