:root {
	--primary: white;
	--border-radius: 0.3rem;

	--lightskyblue: #c4dbf6;
	--gray: #8590aa;
	--grain: #d7cec7;
	--redwine: #76323f;
	--tan: #c09f80;
	--slate: #565656;
	--gold: #c8b682;
	--warm: #f1edea;
	--darkgray: #6c757d;
	--headerText: #5b5d5f;
	--textColor: #36454f; /* #c4d0cc; #36454F.;*/
	--lightblue: #eaeef1;
	--olivegreen: #556b4b;
	--lightgreen: #eef7ea;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--primary);
	margin: 0;
	padding: 0;
	font-family: "IBM Plex Sans", sans-serif;
	color: var(--dark);
	line-height: 1.5;
	font-size: 16px;
	height: 100%;
	/* font-family: "Roboto Slab", serif; */
	background-color: var(--warm);
}

.headerCls,
.headerCls ul {
	background-color: transparent;
	color: var(--warm); /* #5b5d5f;*/ /* var(--darkgray)*/
	font-family: "Source Sans Pro", sans-serif;
	font-size: 2rem;
	height: 7rem;
}

.headerCls .top-bar-right ul li a {
	font-weight: bold;
	font-size: 1rem;
	color: var(--warm);
}
.headerCls {
	background: url("../images/img5.jpeg");
	background-position: right;
	background-size: cover;
}

.left-top-section,
.left-top-section .callout,
#container-accordion {
	background-color: var(--lightblue); /* #eaeef1;*/
	border: 5px solid var(--gold);
	color: var(--textColor);
}

.left-top-section .callout {
	border: none;
}

.event-details-header,
.event-list-header,
.secondpage-header {
	background-color: var(--redwine);
	color: beige;
	text-align: center;
	border-bottom: 5px solid var(--gold);
}

.rounded-button,
.view-history-button {
	padding: 10px 0px; /*
	 background-color: var(--gray); */
	border-radius: var(--border-radius);
	margin: 5px auto;
	background: rgb(118, 50, 63);
	background: linear-gradient(
		180deg,
		rgba(118, 50, 63, 1) 0%,
		rgba(135, 65, 79, 1) 55%,
		rgba(154, 108, 117, 1) 100%
	);
	color: var(--gold);
	font-family: "IBM Plex Sans", sans-serif;
	border: 1px solid var(--gold);
}
.view-history-button {
	border-left: none;
	border-radius: 0;
	margin: 0 0;
}

.view-history-header h5 {
	color: var(--redwine);
	font-size: 90%;
	font-weight: 700;
	padding-left: 4px;
}
.rounded-button:hover,
.view-history-button:hover {
	background-color: var(--redwine);
	color: var(--gold);
}

#intro {
	padding-bottom: 0;
	margin-bottom: 0;
	font-weight: 800;
	font-size: 1.8rem;
}

#description {
	font-size: 1.5rem;
	font-weight: 500;
	margin-top: 0px;
	padding-top: 0px;
}
#select-date {
	border: 1px solid var(--gold);
}

#bookmarks li {
	border-radius: var(--border-radius);
	background-color: var(--gray);
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	color: beige;
	padding: 10px;
	list-style-type: none;
}

#bookmarks li a {
	color: beige;
	font-size: 90%;
}

.view-history-button {
	padding: 10px;
}

#date-select {
	padding: 3px 10px;
	margin-left: 50px;
}

.thumbnail1 {
	width: 5rem;
	height: 5rem;
	border: 2px solid var(--gold);
}

/* Saved Searches buttons */
.btn {
	border: none;
	background-color: gray;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
		0px;
	color: hsl(0, 0%, 100%);
	display: inline-block;
	font-size: 22px;
	line-height: 22px;
	margin: 16px 16px 16px 20px;
	padding: 14px 34px;
	text-align: center;
	cursor: pointer;
}
.btn:hover {
	color: white;
	background-color: black;
}

/* FOOTER STYLES START */
main footer {
	display: block;
	text-align: center;
	color: #ffffff;
	background-color: var(--redwine);
}

footer h4 {
	font-size: 1em;
	margin: 0;
}

footer div {
	line-height: 1;
}
/* END FOOTER STYLES */
.copy {
	color: var(--cardcolor);
}

.secondpage-header {
	border-bottom: none;
	border: 5px solid var(--gold);
	font-size: 1.3rem;
	text-align: left;
	font-family: "Source Sans Pro", sans-serif;
}
.secondpage-header span {
	display: inline-block;
}
.secondpage-header p {
	margin-bottom: 0;
}
.secondpage-header p,
.secondpage-header span {
	color: beige;
	padding: 10px;
}

.tabs-container {
	background-color: var(--grain);
	border: 5px solid var(--gold);
	font-family: "Source Sans Pro", sans-serif;
}

.tabs-title a {
	font-size: none;
	font-size: 1.1rem;
	font-family: "Source Sans Pro", sans-serif;
	color: var(--gold);
}

.tabs-title a[aria-selected="true"] {
	font-size: none;
	font-size: 1.1rem;
	font-family: "Source Sans Pro", sans-serif;
	color: var(--gold);
	background: linear-gradient(
		180deg,
		rgba(118, 50, 63, 1) 0%,
		rgba(135, 65, 79, 1) 55%,
		rgba(154, 108, 117, 1) 100%
	);
	border: 2px solid var(--gold);
}

#panel1,
#panel2 {
	background-color: var(--lightblue);
	color: var(--textColor);
}

#panel1 h4,
#panel2 h4 {
	font-size: 1.4rem;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	border-bottom: 3px solid var(--gold);
	margin: 1.2rem;
}
.media-object-section {
	font-family: "Source Sans Pro", sans-serif;
}
.media-title {
	font-weight: 700;
	font-size: 1rem;
}
.media-desc {
	font-size: 0.8rem;
	font-weight: 600;
}

.media-link {
	border: none;
	border: 2px solid var(--gold);
	width: 10rem;
	padding: 0.4rem;
	margin: 0;
	border-radius: var(--border-radius);
	color: var(--gold);
	background: transparent;
	font-size: 0.8rem;
	font-weight: 600;
}

.media-link:hover {
	background: linear-gradient(
		180deg,
		rgba(118, 50, 63, 1) 0%,
		rgba(135, 65, 79, 1) 55%,
		rgba(154, 108, 117, 1) 100%
	);
	color: var(--gold);
}

.bookContainer .column {
	margin: top 1.5rem;
}

.media-title small {
	color: var(--headerText);
}

.media-desc-cat {
	color: var(--redwine);
}
